<h3>Thông Tin Liên Hệ</h3>
<a href="tel:0987654321" id="phone">(+84) 987654321</a>
<a href="tel:0987654321" id="phone">(+84) 987654321</a>
<a href="mailto:default1@newdiscovery.vn" id="email_footer">default1@newdiscovery.vn</a>
<a href="mailto:default2@newdiscovery.vn" id="email_footer">default2@newdiscovery.vn</a>
<ul>
    <li><strong>CÔNG TY TNHH MTV DU LỊCH KHÁM PHÁ MỚI</strong></li>
    <li><strong>Người đại diện:  </strong>Ông Nguyễn Trường Lân</li>
    <li><strong>Số giấy chứng nhận kinh doanh:  </strong>0 3 1 0 1 8 1 8 9 2</li>
    <li><strong>Cấp ngày:  </strong>19/07/2010</li>
    <li><strong>Nơi cấp:  </strong>SKHĐT TP HCM</li>
    <li><strong>Tel:  </strong>(+84) 8 3 85 333 18 - (+84) 8 3 85 333 21</li>
    <li><strong>Fax:  </strong>(+84) 8 3 85 333 19</li>
    <li><strong>Trụ sở chính:  </strong>259/2 Nguyễn Tri Phương, Phường 5, Quận 10, Tp Hồ Chí Minh, Việt Nam</li>
    <li><strong>Chi nhánh:  </strong>114 Ngô Quyền, Phường 5, Quận 10, Tp Hồ Chí Minh, Việt Nam</li>
</ul>