.price_list, .price_list .normal_price_list {
  font-size: 14px;
}
.short_info .price {
  font-size: 18px;
}
#price_single_main span {
  font-size: 30px;
}
.parallax-content-2 div h1 {
  font-size: 30px;
}
label.error {
  display: none !important;
}
.contact_validate input.error, textarea.error {
  border: solid 1px #e34f4f;
}
.contact_validate input.error:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.newsletter_validate input.error {
  border: solid 1px #e34f4f;
}
#search_results {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: #85c99d;
    color: #fff;
    padding: 12px 20px;
    font-size: 14px;
}
/*Change font all pages*/
body {
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 13px;
}
.banner h4 {
  font-family: "Open Sans",Arial,sans-serif;
}
p {
    margin: 0 0 11px;
}