<section id="hero" class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div id="login">                    
                    <div class="text-center"><img src="/frontend/img/logo_sticky.png" alt="Image" data-retina="true"></div>
                    <hr>                    
                    <h4 class="text-center"><strong>Xác thực email đăng ký</strong></h4>
                    <hr>
                    <%= render "naturesoft/hotel_newdiscovery_vn/modules/flash_messages" %>
                </div>
            </div>
        </div>
    </div>
</section>