<section id="hero" class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div id="login">
                    <div class="text-center"><img src="/frontend/img/logo_sticky.png" alt="Image" data-retina="true"></div>
                    <hr>
                    <form>
                        <p>Nhập mật khẩu mới cho tài khoản.</p>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Nhập email mới tại đây...">
                        </div>
                        <div class="form-group">
                            <label>Xác nhận email</label>
                            <input type="text" class="form-control" placeholder="Nhập xác nhận email mới tại đây...">
                        </div>
                        <button class="btn_full">Xác nhận đổi mật khẩu mới</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>