<% category.articles.limit(options["number_of_articles"]).each do |article| %>
    <div class="col-md-3 col-sm-6 text-center">
        <p><%= link_to image_tag(article.image_url.medial, alt: "", class: "img-responsive"), "" %></p>
        <h4><%= article.title %><span></span></h4>
        <%= article.intro_text %>
    </div>
<% end %>