<div class="main_title">
    <h2>Top <span>điểm đến</span></h2>
    <p><%= options["description"] %></p>
</div>

<div class="row">
    <% areas.each do |item| %>
        <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <div class="tour_container">
                <div class="img_container">
                    <a href="<%= naturesoft_hotels.hotel_detail_path %>">
                        <%= image_tag("/frontend/img/hotel_1.jpg", size: "800x533", alt: "", class: "img-responsive") %>
                    </a>
                    <div class="ribbon popular"></div>
                </div>
                <div class="tour_title">
                    <h3><strong><%= link_to item.name, naturesoft_hotels.hotel_detail_path %></strong></h3>
                </div>
            </div>
            <!-- End box tour -->
        </div>
        <!-- End col-md-4 -->
    <% end %>
</div>