<p>Chào mừng <%= @email %>!</p>

<p>Còn một chút nữa để tài khoản của bạn có thể hoạt động.</p>

<p>Vui lòng <%= link_to 'CLICK VÀO ĐÂY', confirmation_url(@resource, confirmation_token: @token) %> để kích hoạt tài khoản của bạn.</p>
