<p>Chào mừng <%= @email %>!</p>

<p>Bạn sắp sửa hoàn tất! Chúng tôi chỉ cần xác minh tài khoản của bạn trước khi bạn có thể bắt đầu sử dụng tài khoản đó.</p>

<p>Vui lòng chọn <%= link_to 'XÁC MINH', confirmation_url(@resource, confirmation_token: @token) %> để kích hoạt tài khoản của bạn.</p>
