<p>Xin chào <%= @resource.email %>!</p>

<p>Một người nào đó đã cố gắng yêu cầu một liên kết để thay đổi mật khẩu của bạn. Bạn có thể thực hiện việc này thông qua các liên kết dưới đây.</p>

<p>Vui lòng <%= link_to 'CLICK VÀO ĐÂY', edit_password_url(@resource, reset_password_token: @token) %> để lấy lại mật khẩu</p>

<p>Nếu đây không phải là bạn yêu cầu, xin vui lòng bỏ qua email này.</p>
<p>Mật khẩu của bạn sẽ không thay đổi cho đến khi bạn truy cập vào liên kết ở trên và tạo một mật khẩu mới.</p>
