<script type="text/javascript">
    var xhr_hotel_filter;
    function hotelListFilter() {
        var form = $(".hotel_filter");
        var url = form.attr("action");
        
        $(".hotel-list-container").append("<div class='loading'></div>");
        
        if(typeof(xhr_hotel_filter) != 'undefined') {
            xhr_hotel_filter.abort()
        }
        xhr_hotel_filter = $.ajax({
            type: "GET",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function(data)
            {
                $(".hotel-list-container").html($("<div>").html(data).find(".hotel-list-container").html());
                
                //$(".hotel-list-container").removeClass("loading");
            }
        });
    }
    
    /* <![CDATA[ */
    (function(d, s, a, i, j, r, l, m, t) {
        try {
            l = d.getElementsByTagName('a');
            t = d.createElement('textarea');
            for (i = 0; l.length - i; i++) {
                try {
                    a = l[i].href;
                    s = a.indexOf('/cdn-cgi/l/email-protection');
                    m = a.length;
                    if (a && s > -1 && m > 28) {
                        j = 28 + s;
                        s = '';
                        if (j < m) {
                            r = '0x' + a.substr(j, 2) | 0;
                            for (j += 2; j < m && a.charAt(j) != 'X'; j += 2) s += '%' + ('0' + ('0x' + a.substr(j, 2) ^ r).toString(16)).slice(-2);
                            j++;
                            s = decodeURIComponent(s) + a.substr(j, m - j)
                        }
                        t.innerHTML = s.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                        l[i].href = 'mailto:' + t.value
                    }
                } catch (e) {}
            }
        } catch (e) {}
    })(document); /* ]]> */
    
    $(document).ready(function() {
        // this is the id of the form
        $("#new_newsletter").submit(function(e) {
            var form = $(this);
            var url = form.attr("action"); // the script where you handle the form input.
            
            // button before
            form.find("input[type=submit]").addClass("posting");
            //form.find("input[type=submit]").after('<i class="icon-spin3 animate-spin"></i>');
            
            if(form.valid()) {
                $.ajax({
                   type: "POST",
                   url: url,
                   data: form.serialize(), // serializes the form's elements.
                   success: function(data)
                   {
                       //alert(data); // show response from the php script.
                       swal({
                        title: data.title,
                        text: data.text,
                        type: data.status
                        });
                       form.find("input[type=email]").val("");
                       
                        // button before
                        form.find("input[type=submit]").removeClass("posting");
                        //form.find(".icon-spin3").remove();
                   }
                });
            }
        
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });
        
        // this is the id of the form
        $("#review_hotel").submit(function(e) {
            var form = $(this);
            var url = form.attr("action"); // the script where you handle the form input.
            form.find("input[type=submit]").attr('disabled','disabled');
            form.find("input[type=submit]").after('<i class="icon-spin3 animate-spin"></i>');
            
            if(form.valid()) {
                $.ajax({
                   type: "POST",
                   url: url,
                   data: form.serialize(), // serializes the form's elements.
                   success: function(data)
                   {
                        //alert(data); // show response from the php script.
                        form.find(".icon-spin3").remove();
                        swal({
                         title: data.title,
                         text: data.text,
                         type: data.status
                         });
                        form.find("input[type=email]").val("");
                        form.find("input[type=text]").val("");
                        form.find("input[type=phone]").val("");
                        form.find("textarea").val("");
                        form.find("input[type=submit]").removeAttr('disabled');
                        $('#quickRegister').modal("hide");
                   }
                 });
            }
        
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });
        
        
        // Ajax listing page
        $(".hotel_filter").submit(function(e) {
            hotelListFilter();            
            e.preventDefault();
        });
        $(document).on("change", "input,select", function(e) {
            hotelListFilter();            
        });
        $(document).on("keyup", "input", function(e) {
            hotelListFilter();            
        });
        $(document).on("mouseup", ".hotel_filter", function(e) {
            setTimeout("hotelListFilter();", 500);            
        });
        $(document).on("click", ".bt_filters", function(e) {
            var val = $(this).attr("rel");
            $(".bt_filters").removeClass("active");
            $(this).addClass("active");
            
            $("input[name='style']").val(val);
            
            hotelListFilter();   
        });
        
        
    });
</script>

