<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <h3>Thông Tin Liên Hệ</h3>
                <a href="tel:0987654321" id="phone">(+84) 987654321</a>
                <a href="tel:0987654321" id="phone">(+84) 987654321</a>
                <a href="mailto:default1@newdiscovery.vn" id="email_footer">default1@newdiscovery.vn</a>
                <a href="mailto:default2@newdiscovery.vn" id="email_footer">default2@newdiscovery.vn</a>
                <ul>
                    <li><strong>Người đại diện:  </strong>Ông Nguyễn Trường Lân</li>
                    <li><strong>Số giấy chứng nhận kinh doanh:  </strong>0 3 1 0 1 8 1 8 9 2</li>
                    <li><strong>Cấp ngày:  </strong>19/07/2010</li>
                    <li><strong>Nơi cấp:  </strong>SKHĐT TP HCM</li>
                    <li><strong>Tel:  </strong>(+84) 8 3 85 333 18 - (+84) 8 3 85 333 21</li>
                    <li><strong>Fax:  </strong>(+84) 8 3 85 333 19</li>
                    <li><strong>Trụ sở chính:  </strong>259/2 Nguyễn Tri Phương, Phường 5, Quận 10, Tp Hồ Chí Minh, Việt Nam</li>
                    <li><strong>Chi nhánh:  </strong>114 Ngô Quyền, Phường 5, Quận 10, Tp Hồ Chí Minh, Việt Nam</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4">
                <h3>Du Lịch Khám Phá Mới</h3>
                <ul>
                    <li><a href="">Về chúng tôi</a></li>
                    <li><a href="">Hướng dẫn đặt phòng</a></li>
                    <li><a href="">Blog du lịch</a></li>
                    <li><a href="">Hình ảnh du lịch</a></li>
                    <li><a href="">Đăng ký nhận voucher</a></li>
                    <li><a href="">Câu hỏi thường gặp</a></li>
                    <li><a href="">Chính sách quyền riêng tư</a></li>
                </ul>
                <h3>Liên Kết Nhanh</h3>
                <ul>
                    <li><a href="">Tất cả khách sạn</a></li>
                    <li><a href="">Khách sạn theo địa điểm</a></li>
                    <li><a href="">Khách sạn theo dịch vụ</a></li>
                    <li><a href="">Resort</a></li>
                    <li><a href="">Villa</a></li>
                    <li><a href="">Căn hộ</a></li>
                    <li><a href="">Khách sạn có khuyến mãi</a></li>
                    <li><a href="">Khách sạn theo sao</a></li>
                    <li><a href="">Thông tin về tiêu chuẩn khách sạn</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3" id="newsletter">
                <h3>ĐỪNG BỎ LỠ CƠ HỘI GIÁ TỐT!</h3>
                <p>Du Lịch Khám Phá Mới sẽ cập nhật thường xuyên về những ưu đãi, khuyến mãi mới và hot trong tháng đến quý khách.</p>
                <div id="message-newsletter_2"></div>
                    <form>
                        <div class="form-group">
                            <input name="email" type="email" value="" placeholder="Your mail" class="form-control">
                        </div>
                        <input type="submit" value="Subscribe" class="btn_1" id="submit-newsletter_2">
                    </form>
            </div>
        </div><!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href=""><i class="icon-facebook"></i></a></li>
                        <li><a href=""><i class="icon-twitter"></i></a></li>
                        <li><a href=""><i class="icon-google"></i></a></li>
                        <li><a href=""><i class="icon-instagram"></i></a></li>
                        <li><a href=""><i class="icon-pinterest"></i></a></li>
                        <li><a href=""><i class="icon-vimeo"></i></a></li>
                        <li><a href=""><i class="icon-youtube-play"></i></a></li>
                        <li><a href=""><i class="icon-linkedin"></i></a></li>
                    </ul>
                    <p>© Citytours 2015</p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer>