<div id="top_line">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <i class="icon-phone"></i><strong>0987654321</strong>
                <i class="icon-email"></i><strong>default@newdiscovery.vn</strong>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <ul id="top_links">
                    <li><%= link_to "Đăng nhập", naturesoft.login_path, id: "login_link" %></li>
                    <li><%= link_to "Đăng ký", naturesoft.register_path, id: "access_link" %></li>
                    <li><%= link_to "Khách sạn yêu thích", naturesoft.admin_area_path, id: "wishlist_link" %></li>
                </ul>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container-->
</div>