<div id="top_line">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <%= position("hotel_newdiscovery_vn::header-top-line") %>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <ul id="top_links">
                    <li><%= link_to "Đăng nhập", naturesoft.new_user_session_path, id: "login_link" %></li>
                    <li><%= link_to "Đăng ký", naturesoft.new_user_registration_path, id: "access_link" %></li>
                    <li><a href="#" id="register_link" data-toggle="modal" data-target="#quickRegister">Đặt phòng nhanh</a></li>
                </ul>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container-->
</div>