<%= form_tag("", method: "get") do %>
	<div class="col-md-3 col-sm-3 col-xs-6">
		<div class="styled-select-filters">
			<select name="sort" id="sort">
				<option value="" selected>Sắp xếp khách sạn</option>
				<option value="price_desc">Giá từ cao đến thấp</option>
				<option value="price_asc">Giá từ thấp đến cao</option>
				<option value="name_asc">Tên khách sạn từ A-Z</option>
				<option value="name_desc">Tên khách sạn từ Z-A</option>
			</select>
		</div>
	</div>
<% end %>