<!-- Modal Review -->
<div class="modal fade" id="myWishList" tabindex="-1" role="dialog" aria-labelledby="myWishListLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myWishListLabel">Yêu thích khách sạn</h4>
			</div>
			<div class="modal-body">
				<h4>Bạn cần <span><%= link_to "đăng nhập", naturesoft.login_path %></span> để thực hiện việc yêu thích khách sạn.</h4>
			</div>
		</div>
	</div>
</div><!-- End modal review -->