<!-- Modal Review -->
<div class="modal fade" id="myReview" tabindex="-1" role="dialog" aria-labelledby="myReviewLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myReviewLabel">Viết đánh giá</h4>
			</div>
			<div class="modal-body">
				<div id="message-review">
				</div>
				<form id="review_hotel">
          <input name="hotel_name" id="hotel_name" type="hidden" value="Mariott Hotel Paris">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" placeholder="Nhập họ tại đây (*)..." class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" placeholder="Nhập tên tại đây (*)..." class="form-control">
							</div>
						</div>
					</div>
					<!-- End row -->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="email" placeholder="Nhập email tại đây..." class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="email" placeholder="Nhập số điện thoại tại đây (*)..." class="form-control">
							</div>
						</div>
					</div>
					<!-- End row -->
					<hr>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Loại phòng</label>
								<select class="form-control">
									<option value="">Chọn loại phòng</option>
									<option value="1">Deluxe Garden</option>
									<option value="2">Premier Garden (Premier Deluxe Garden View)</option>
								</select>
							</div>
						</div>
					</div>
					<!-- End row -->
					<div class="form-group">
						<textarea class="form-control" style="height:100px" placeholder="Viết nội dung đánh giá tại đây (*)..."></textarea>
					</div>
					<div class="form-group">
						<input type="text" class=" form-control" placeholder="Nhập đáp án? 3 + 1 =">
					</div>
					<input type="submit" value="Submit" class="btn_1">
				</form>
			</div>
		</div>
	</div>
</div><!-- End modal review -->