<!-- Modal Review -->
<div class="modal fade" id="quickRegister" tabindex="-1" role="dialog" aria-labelledby="quickRegisterLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<%= position("hotel_newdiscovery_vn::quick-register-top-line") %>
		</div>
	</div>
</div><!-- End modal review -->